CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

**/build/**
**/build_win/**
**/build_linux/**

CMakeSettings.json
vcpkg-configuration.json
vcpkg_installed

.env

.vs
.vscode
.cache

bin
lib
out